/*create style for magic8 ball profect*/

h1 {
    font-weight: 100; 
    font-size: 2.5em;
}

#content {
    width: 600px;
    margin: auto;
    margin-top: 50px;
    border: 1px dotted black;
    text-align: center;
    font-family: "Helvetica Neue", arial;
    font-weight: 100;
}

div.eight-ball {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background: radial-gradient(circle at 100px 100px,rgb(94, 92, 92),black);
 
}

div.answer {
    background-color:white;
    border: 1px solid #333;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 25% auto;
    background: radial-gradient(circle at 100px 100px,rgb(212, 210, 210), white);
}

p#eight {
    font-size: 5em;
    margin: 20% auto;
    color: black;
}

p#answer {
    padding: 23px;
    color: black;
    letter-spacing: 2px;
    font-size: 18px;
}

#question {
    margin: 20px;
    padding: 10px;
    width: 400px;
    font-size: 22px;
}

#info {
    font-size: 22px;
}
